<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$us.Id - $us.Title</title>


    <!-- Custom styles for this template -->
    <link href="css/template.css" rel="stylesheet">
    <script src="bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/tether.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap3-typeahead.min.js"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">EASY - Build</span>
    </div>

    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li><a href="index.html" rel="home">Home</a></li>
            <li class="active">
                <a href="#">#$us.Id -
                    #if($us.Title.length() > 20)
                        $us.Title.substring(0,20)...
                    #else
                        $us.Title
                    #end
                </a>
            </li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group" id="searchbox">
                    <input type="text" class="form-control" placeholder="Search" data-provide="typeahead"
                           name="srch-term"
                           data-provide="typeahead" data-items="15" id="search-box">

                    <div class="input-group-btn">
                        <div class="btn btn-default"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">

    <!-- upper section -->
    <div class="row">

        <div class="col-sm-3">
            <!-- left -->
            <h3><i class="glyphicon glyphicon-info-sign"></i> Information</h3>
            <hr>

            <ul class="nav nav-stacked">
                <li><span class="us-property">Entity Sate:</span> $us.State</li>
                <br/>
                <li>
                    <span class="us-property">Feature:</span>
                    #if($us.Feature)
                        $us.Feature
                    #end
                </li>
                <br/>
                <li><span class="us-property">Creation Date:</span> $us.CreationDate</li>
                <li><span class="us-property">Last Modification Date:</span> $us.LastModificationDate</li>
            </ul>

            <hr>

            <h3><i class="glyphicon glyphicon-bookmark"></i> Custom fields <i
                    class="glyphicon glyphicon-sm glyphicon-sort pull-right small-icon" data-toggle="collapse"
                    data-target="#custom_fields"></i></h3>
            <hr>

            <ul class="nav nav-list collapse in" id="custom_fields">

                #if($us.CustomFields.size() == 0)
                    No Custom Field
                #end

                #foreach($customField in $us.CustomFields.entrySet())
                    <li><span class="us-property">$customField.getKey():</span> $customField.getValue()</li>
                    <br/>
                #end
                <hr>
            </ul>

        </div>
        <!-- /col-3 -->

        <div class="col-sm-9">
            <h3><i class="glyphicon glyphicon glyphicon-pencil"></i> #$us.Id - $us.Title</h3>
            <hr>
            #if($us.Description)
                $us.Description
            #end
            <hr>
            <h3><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Attachments</h3>
            <hr>
            <ul class="nav nav-pills">

                #if($us.Attachments.size() == 0)
                    No attachment
                #end

                #foreach( $attachment in $us.Attachments )
                    <li><a href="$attachment"><i class="glyphicon glyphicon-file"></i> $attachment.getName()</a></li>
                #end
            </ul>
            <hr>
        </div>
        <!--/col-9-->

    </div>
    <!--/row-->
    <!-- /upper section -->

</div>
<!-- /container -->

<script type="application/javascript">
    $('#search-box').typeahead({
        source: [
            #foreach($us in $userStoriesList)
                "$us.Id - $us.getTitleHtmlSafe()",
            #end
            ""
        ],
        updater: function (item) {
            res = item.split(" ");
            window.location.replace("./us-" + res[0] + ".html");
            return item;
        }
    });

    $( document ).ready(function() {
        $("img").map(function(index,obj) {
            $(this).attr('src', obj.src.replace("?", "%3F"));
        });
    });
</script>

<footer>
    <div class="container">
        <div class="text-center">2017 <a href="https://github.com/dalirekik/TargetProcessExtraction">Target Process
            Extractor</a></div>
    </div>
</footer>

</body>
</html>